<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      <% messages.forEach(message => { %>
        <%= message.text %><br>
        <%= message.user %><br>
        <%= message.added %><br>
        <br>
      <% }) %>
    </p>
  </body>
</html>
